[submodule "ASHTMLLib"]
	path = ASHTMLLib
	url = https://github.com/tkurita/ASHTMLLib.git
[submodule "PathExtra"]
	path = PathExtra
	url = https://github.com/tkurita/PathExtra.git
[submodule "DropBox"]
	path = DropBox
	url = https://github.com/tkurita/DropBox.git
[submodule "DonationReminder"]
	path = DonationReminder
	url = https://github.com/tkurita/DonationReminder.git
[submodule "StringExtra"]
	path = StringExtra
	url = https://github.com/tkurita/StringExtra.git
[submodule "LibraryScripts/XText.scptd"]
	path = LibraryScripts/XText.scptd
	url = https://github.com/tkurita/XText.scptd.git
[submodule "LibraryScripts/LibraryScripts/XList.scptd"]
	path = LibraryScripts/LibraryScripts/XList.scptd
	url = https://github.com/tkurita/XList.scptd.git
[submodule "LibraryScripts/XList.scptd"]
	path = LibraryScripts/XList.scptd
	url = https://github.com/tkurita/XList.scptd.git
[submodule "LibraryScripts/XFile.scptd"]
	path = LibraryScripts/XFile.scptd
	url = https://github.com/tkurita/XFile.scptd.git
[submodule "LibraryScripts/XDict.scptd"]
	path = LibraryScripts/XDict.scptd
	url = https://github.com/tkurita/XDict.scptd.git
[submodule "LibraryScripts/XCharacterSet.scptd"]
	path = LibraryScripts/XCharacterSet.scptd
	url = https://github.com/tkurita/XCharacterSet.scptd.git
[submodule "LibraryScripts/PathInfo.scptd"]
	path = LibraryScripts/PathInfo.scptd
	url = https://github.com/tkurita/PathInfo.scptd.git
[submodule "LibraryScripts/RGBColor.scptd"]
	path = LibraryScripts/RGBColor.scptd
	url = https://github.com/tkurita/RGBColor.scptd.git
[submodule "LibraryScripts/HTMLElement.scptd"]
	path = LibraryScripts/HTMLElement.scptd
	url = https://github.com/tkurita/HTMLElement.scptd.git
[submodule "LibraryScripts/CSSBuilder.scptd"]
	path = LibraryScripts/CSSBuilder.scptd
	url = https://github.com/tkurita/CSSBuilder.scptd.git
[submodule "LibraryScripts/TemplateProcessor.scptd"]
	path = LibraryScripts/TemplateProcessor.scptd
	url = http://github.com/tkurita/TemplateProcessor.scptd.git
