[submodule "ASHTMLLib"]
	path = ASHTMLLib
	url = https://github.com/tkurita/ASHTMLLib.git
[submodule "PathExtra"]
	path = PathExtra
	url = https://github.com/tkurita/PathExtra.git
[submodule "DropBox"]
	path = DropBox
	url = https://github.com/tkurita/DropBox.git
[submodule "DonationReminder"]
	path = DonationReminder
	url = https://github.com/tkurita/DonationReminder.git
[submodule "StringExtra"]
	path = StringExtra
	url = https://github.com/tkurita/StringExtra.git
