<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeToHTML</key>
	<true/>
	<key>GenerateCSS</key>
	<true/>
	<key>HistoryMax</key>
	<integer>20</integer>
	<key>MakeScriptLink</key>
	<true/>
	<key>UseScriptEditorSelection</key>
	<true/>
	<key>ObtainScriptLinkTitleFromFilename</key>
	<true/>
	<key>ScriptLinkModeIndex</key>
	<integer>0</integer>
	<key>ScriptLinkPositionIndex</key>
	<integer>0</integer>
	<key>ScriptLinkTitle</key>
	<string></string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SaveToSourceLocation</key>
	<false/>
	<key>styleNameToCSSNameTable</key>
	<dict>
		<key>New text (uncompiled)</key>
		<string>uncompiled</string>
		<key>Operators, etc. (+ &amp; ,)</key>
		<string>normal</string>
		<key>Language keywords</key>
		<string>langKeyword</string>
		<key>Application keywords</key>
		<string>appKeyword</string>
		<key>Comments</key>
		<string>comment</string>
		<key>Values (numbers, data)</key>
		<string>literal</string>
		<key>Variables and subroutine names</key>
		<string>userDefine</string>
		<key>Values (number, strings, lists)</key>
		<string>literal</string>
		<key>Strings</key>
		<string></string>
		<key>Command names</key>
		<string></string>
		<key>Parameter names</key>
		<string></string>
		<key>Classes</key>
		<string></string>
		<key>Properties</key>
		<string></string>
		<key>Enumerated values</key>
		<string></string>
		<key>Addition Command names</key>
		<string></string>
		<key>Addition Parameter names</key>
		<string></string>
		<key>Addition Classes</key>
		<string></string>
		<key>Addition Properties</key>
		<string></string>
		<key>Addition Enumerated values</key>
		<string></string>
	</dict>
</dict>
</plist>
