<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeToHTML</key>
	<true/>
	<key>DonationURL</key>
	<string>http://homepage.mac.com/tkurita/scriptfactory/donationproxy.html</string>
	<key>GenerateCSS</key>
	<true/>
	<key>HistoryMax</key>
	<integer>20</integer>
	<key>MakeScriptLink</key>
	<true/>
	<key>UseScriptEditorSelection</key>
	<true/>
	<key>ObtainScriptLinkTitleFromFilename</key>
	<true/>
	<key>ScriptLinkModeIndex</key>
	<integer>0</integer>
	<key>ScriptLinkTitle</key>
	<string></string>
</dict>
</plist>
