<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeToHTML</key>
	<true/>
	<key>GenerateCSS</key>
	<true/>
	<key>HistoryMax</key>
	<integer>20</integer>
	<key>MakeScriptLink</key>
	<true/>
	<key>UseScriptEditorSelection</key>
	<true/>
	<key>ObtainScriptLinkTitleFromFilename</key>
	<true/>
	<key>ScriptLinkModeIndex</key>
	<integer>0</integer>
	<key>ScriptLinkPositionIndex</key>
	<integer>0</integer>
	<key>ScriptLinkTitle</key>
	<string></string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SaveToSourceLocation</key>
	<false/>
	<key>CSSClassNames</key>
	<array>
		<string>uncompiled</string>
		<string>normal</string>
		<string>langKeyword</string>
		<string>appKeyword</string>
		<string>comment</string>
		<string>literal</string>
		<string>userDefine</string>
		<string>stringLiteral</string>
		<string>commandName</string>
		<string>parameterName</string>
		<string>className</string>
		<string>enumeratedValues</string>
		<string>additionCommandName</string>
		<string>additionParameterName</string>
		<string>additionClass</string>
		<string>additionProperty</string>
		<string>additionEnumeratedValue</string>
	</array>
</dict>
</plist>
