<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>$TITLE</title>
	<style type="text/css" media="screen"><!--
$CSS
.sourceCode  {
	position : relative;
	font-family: sans-serif;
	margin-right: 2em;
	margin-left: 2em;
	padding: 1ex;
	border: solid 2px silver }
--></style>
</head>

<body>
	<div class="sourceCode">
		$BODY
	</div>
</body>